.card {
  margin-top: 12%;
  width: 20rem;

  height: auto;
  display: flex;
}

/* Testimonial.css */

.container {
  max-width: 1200px;
  margin: auto;
}

.card-title {
  color: #0e2e58;
}

.card-title h4 {
  color: #0e2e58;
  font-weight: 400;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.card-img-top {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}